<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your password reset button: <a href = <%= @url %> >Click here!</a> </h1>
  </body>
</html>