<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to WeSale!</h1>
    <h2>We hope you will enjoy using our application</h2>
  </body>
</html>